# ??????????????????? root=true ???????????????????????????? ruoyi-ui ???? .editorconfig?????? utf-8??
root = true

# ????????????????? UTF-8?????? GBK/ANSI ??????????
[*.{js,jsx,mjs,cjs,ts,tsx,vue,css,scss,less,html,json,md,py}]
charset = utf-8
end_of_line = lf
insert_final_newline = true

[*.{java,xml,yml,yaml,properties,sql,gradle}]
charset = utf-8
end_of_line = lf
insert_final_newline = true
