/**
* I think element-ui's default theme color is too light for long-term use.
* So I modified the default color and you can modify it to your liking.
**/


/* theme color */

$--color-primary: #1e3a5f;
$--color-success: #2c7a7b;
$--color-info: #607182;
$--color-warning: #ffba00;
$--color-danger: #ff4949;
$--button-font-weight: 400;
$--border-radius-base: 8px;
$--border-radius-small: 6px;
$--button-border-radius: 8px;
// $--color-text-regular: #1f2d3d;
$--border-color-light: #d9e4e8;
$--border-color-lighter: #edf3f5;
$--table-border: 1px solid #e5eef0;

/* icon font path, required */

$--font-path: '~element-ui/lib/theme-chalk/fonts';
@import "~element-ui/packages/theme-chalk/src/index";
// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
    theme: $--color-primary;
}